.overlap-3 {
    background-color: #000000;
    border-radius: 23px;
    height: 46px;
    left: 16px;
    position: absolute;
    top: 14px;
    width: 46px;
  }


  .task .ellipse-4 {
    height: 45px;
    left: 25px;
    position: absolute;
    top: 25px;
    width: 45px;
  }
  
.ellipse-5 {
    height: 56px;
    left: 12px;
    position: absolute;
    top: 12px;
    width: 53px;
  }
  
 .ellipse-6 {
    height: 77px;
    left: 0;
    position: absolute;
    top: 0;
    width: 73px;
  }
  
 .now {
    height: 8px;
    left: 35px;
    position: absolute;
    top: 46px;
    width: 25px;
  }
  